h1{
    color:White;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

p{
    color:Black
}

body { 
  text-align:center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
} 

label{
  color:White;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}

.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/48/Status-dialog-warning-icon.png');
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}