{% load staticfiles %}
<html>
    <head>
        
    <title>{% block title %}{% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    </head>
    
    <body class="container-fluid"> 
        {% block content %}{% endblock %}
    </body>

    
</html>

