{% extends "base.html" %}
{% block title %} Change Selection Date {% endblock %}

{% block content %} 

<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
<body background="http://wallpapercave.com/wp/SXlkSZD.jpg" style='width:100%;height:100%' alt='[]' >
<div class="page-header">
    <h1> Change Selection Date </h1>
</div>



<form name = 'Select date' method="post"  >
    {% csrf_token %}
    {{ form1.as_p }}
    <input type="submit" name = "list" value="Submit" class="btn btn-primary-outline" role="button"/>
</form>

<p><a href="/home/" class="btn btn-primary btn-sm active" role="button">My Profile</a></p>
</body>
</div>

{% endblock %}