
{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %} 
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
<body background="http://wallpapercave.com/wp/SXlkSZD.jpg" style='width:100%;height:100%' alt='[]' >

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
                </a>
            </div>
            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                
                
                <ul class="nav navbar-nav">
                    <li class="">
                        <a  href="/about/">About</a>
                    </li>
                    <li class="">
                        <a href="/submit/view/">View My Preferences</a>
                    </li>
                    <li class="">
                        <a href="/submit/">Change Preferences</a>
                    </li>
                    <li class="">
                        <a href="/assignment/">View My Assignment</a>
                    </li>                            
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/changepassword/">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp; Change Password
                        </a>
                    </li>                    
                    <li class="">
                        <a href="/home/">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; My Profile 
                        </a>
                    </li>
                    <li class="">
                        <a href="/logout/">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout 
                        </a>
                    </li>
                </ul>
                
                
            </div>
        </div>
    </nav>    
    
<div class="page-header">
    <h1> Change Password</h1>
</div>

<form name = 'Change Password Form' method="post">
    {% csrf_token %}
    <center>
        <table >
            {% for field in form %}
            <tbody>
            <tr>
              <td>
                <label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
              </td>
              <td>
                {{ field }}
              </td>
            </tr>
            {% endfor %}
            </tbody>
      </table>
    </center>
    <br>
    <input type="submit" name = "list" value="Submit" class="btn btn-primary-outline" role="button"/>
</form>


{% block messages %}
    {% if message %}<div align= "center" class="warning">{{message}}</div>{% endif %}
{% endblock %}

</body>
</div>
{% endblock %}