
{% extends "base.html" %}
{% block title %}Email Sent{% endblock %}

{% block content %} 
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
<body background="http://wallpapercave.com/wp/SXlkSZD.jpg" style='width:100%;height:100%' alt='[]' >
<div class="page-header">
    <h1> Check your Email</h1>
</div>

<p style="color:White"> An email has been sent to you with instructions on how to recover your account </p>

<p><a href="/" class="btn btn-primary btn-sm active" role="button">Login</a></p>

</body>
</div>
{% endblock %}