
{% extends "base.html" %}
{% block title %}Error{% endblock %}

{% block content %} 
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
<body background="http://wallpapercave.com/wp/SXlkSZD.jpg" style='width:100%;height:100%' alt='[]' >
<div class="page-header">
    <h1> Error!</h1>
</div>

<p style="color:White"> You cannot sort before the end date! </p>

<p><a href="/home/" class="btn btn-primary btn-sm active" role="button">My Profile</a></p>
    {% if user.is_authenticated %}
        <a href="/logout/" class="btn btn-primary btn-sm active" role="button">Logout</a><br>
    {% endif %}

</body>
</div>
{% endblock %}