{% extends "base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}

<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%' background="http://www.com.msu.edu/OMS/Images1/feespring2013.JPG">
<body background="http://wallpapercave.com/wp/SXlkSZD.jpg" style='width:100%;height:100%' alt='[]'>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
                </a>
            </div>
            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                
                
                <ul class="nav navbar-nav">
                    <li class="">
                        <a  href="/about/">About</a>
                    </li>
                    <li class="">
                        <a href="/submit/view/">View My Preferences</a>
                    </li>
                    <li class="">
                        <a href="/submit/">Change Preferences</a>
                    </li>
                    <li class="">
                        <a href="/assignment/">View My Assignment</a>
                    </li>                    
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/changepassword/">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp; Change Password
                        </a>
                    </li>                    
                    <li class="">
                        <a href="/home/">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; My Profile 
                        </a>
                    </li>
                    <li class="">
                        <a href="/logout/">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout 
                        </a>
                    </li>
                </ul>
                
                
            </div>
        </div>
    </nav>
    
    
<div class="page-header">
    {% if user.is_staff %}
        <h1> Admin Profile</h1>
    {% else %}
        {% if name %}
            <h1> {{name}}'s Profile</h1>
        {% else %}
            <h1> My Profile</h1>
        {% endif %}
    {% endif %}
</div>

<div>
    
    <p style="color:White">Selection Date: {{selectiondate}}</p><br>

    {% if user.is_staff %}
        <p><a href="/upload/" class="btn btn-primary btn-sm active" role="button">Start New Year</a></p>
        <p><a href="/viewpreferences/" class="btn btn-primary btn-sm active" role="button">View Student Preferences</a></p>
        <p><a href="/randompreferences/"class="btn btn-primary btn-sm active" role="button">Assign Random Preferences</a></p>
        <p><a href="/changedate/"class="btn btn-primary btn-sm active" role="button">Change Selection Date </a></p>
        <p><a href="/admin/" class="btn btn-primary btn-sm active" role="button"> Admin</a></p>
        <p><a href="/sort/" class="btn btn-primary btn-sm active" role="button">Sort</a></p>
        <p><a href='/results/'class="btn btn-primary btn-sm active" role="button">View Results</a></p>
        {% if user.is_authenticated %}
            <a href="/logout/" class="btn btn-primary btn-sm active" role="button">Logout</a>
        {% endif %}
    
    {% else %}
        <p style="color:White">Your Preferences: </p>
        <p style="color:White">Date Updated: {{dateupdated}}</p>
        {% if preferences %}
            {% for i in preferences %}
                <p style="color:White">{{forloop.counter}} {{i.hospital.name}}</p>
            {% endfor %}
        {% else %}
            <p style="color:White"> No preferences selected</p>
        {% endif %}
    {% endif %}
</div>


</body>
</div>

{% endblock %}