
{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %} 
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
<body background="http://www.com.msu.edu/OMS/Images1/feespring2013.JPG" style='width:100%;height:100%' alt='[]' >
<div class="page-header">
    <h1> Welcome to the MSUCOM Base Hospital Selection Application</h1>
</div>


<div>
    
<form method="post" action=".?next={{ redirect_to }}"> {% csrf_token %}
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>

    <p><input type="submit" value="Login" style="margin-top: 20px" class="btn btn-primary btn-sm active" role="button"/></p>
</form>

<p style = "color:White"> Forgot your password? <a href='/resetpassword/'> Reset it!</a></p>

<a style = "color:White" href='http://com.msu.edu/'>MSU College of Osteopathic Medicine Website</a>
</div>

{% block messages %}
    {% if message %}<div align= "center" class="warning">{{message}}</div>{% endif %}
{% endblock %}

</body>
</div>

{% endblock %}
