
{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %} 
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
<body background="http://wallpapercave.com/wp/SXlkSZD.jpg" style='width:100%;height:100%' alt='[]' >
<div class="page-header">
    <h1> Enter your Username</h1>
</div>


    <form name = 'Username Form' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name = "list" value="Submit" class="btn btn-primary-outline" role="button"/>
    </form>

<p><a href="/" class="btn btn-primary btn-sm active" role="button">Home</a></p>

{% block messages %}
    {% if message %}<div align= "center" class="warning">{{message}}</div>{% endif %}
{% endblock %}

</body>
</div>
{% endblock %}