
{% extends "base.html" %}
{% block title %}Results{% endblock %}

{% block content %} 
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
<body background="http://wallpapercave.com/wp/SXlkSZD.jpg" style='width:100%;height:100%' alt='[]' >
<div class="page-header">
    <h1> Results</h1>
</div>

<p><a href="/downloadassignments/" class="btn btn-primary btn-sm active" role="button">Download as .xlsx</a></p>
<p><a href="/home/" class="btn btn-primary btn-sm active" role="button">My Profile</a></p>
    {% if user.is_authenticated %}
        <a href="/logout/" class="btn btn-primary btn-sm active" role="button">Logout</a><br>
    {% endif %}

{% if all_done %}
    {% for i in pref_assigned %}
        <p style="color:White">Number of students who got preference {{forloop.counter}}: {{i}}</p>
    {% endfor %}
    
    {% for i in elements %}
        <p style="color:White">{{i}}</p>
    {% endfor %}
{% else %}
    <p style="color:White"> Your results are still being calculated. Please check back later </p>
{% endif %}

</body>
</div>
{% endblock %}