
{% extends "base.html" %}
{% block title %}Results{% endblock %}

{% block content %} 
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
<body background="http://wallpapercave.com/wp/SXlkSZD.jpg" style='width:100%;height:100%' alt='[]' >
<div class="page-header">
    <h1> Sorry! The Selection Period has Ended</h1>
</div>

<p style="color:White">You can't change your preferences now. </p>
<p style="color:White">Please wait for the results of the match. </p>

<p><a href="/home/" class="btn btn-primary btn-sm active" role="button">My Profile</a></p>
<p><a href="/submit/view/" class="btn btn-primary btn-sm active" role="button">View My Preferences</a></p>
    {% if user.is_authenticated %}
        <a href="/logout/" class="btn btn-primary btn-sm active" role="button">Logout</a><br>
    {% endif %}

</body>
</div>
{% endblock %}