{% extends "base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %} 
<html>
    
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
<body background="http://www.com.msu.edu/OMS/Images1/feespring2013.JPG" style='width:100%;height:100%' alt='[]' >

<div class="page-header">
    <h1>Upload Student Data File </h1>
</div>
<body>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
<center>
    
    <form  action="" enctype="multipart/form-data"  method="post">
        <p>
            {{ form.as_p}}
        </p>
        {% csrf_token %}
        <input  type="submit" value="Submit">
    </form>
</center>
{% block messages %}
    {% if message %}<div align= "center" class="warning">{{message}}</div>{% endif %}
{% endblock %}
</body>
</html>
{% endblock %}